[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/DocuApi"]
	path = themes/DocuApi
	url = https://github.com/bep/docuapi.git
